--
-- PostgreSQL database dump
--

\restrict waOO4IXeAZl9MWm1MxGTz4znn44kWQyRANMYTo3WPAQKfVcDBcwYD0q9RHdbVgb

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_attendances_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_attendances_status AS ENUM (
    'active',
    'completed',
    'cancelled'
);


ALTER TYPE public.enum_attendances_status OWNER TO postgres;

--
-- Name: enum_employees_office; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_employees_office AS ENUM (
    'ACS',
    'IOTIQ'
);


ALTER TYPE public.enum_employees_office OWNER TO postgres;

--
-- Name: enum_employees_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_employees_role AS ENUM (
    'employee',
    'manager',
    'admin'
);


ALTER TYPE public.enum_employees_role OWNER TO postgres;

--
-- Name: enum_movements_movement_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_movements_movement_type AS ENUM (
    'CLOCK_IN_PATH',
    'MANUAL_MOVEMENT'
);


ALTER TYPE public.enum_movements_movement_type OWNER TO postgres;

--
-- Name: enum_movements_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_movements_status AS ENUM (
    'active',
    'completed',
    'cancelled'
);


ALTER TYPE public.enum_movements_status OWNER TO postgres;

--
-- Name: enum_timing_reports_office; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_timing_reports_office AS ENUM (
    'ACS',
    'IOTIQ'
);


ALTER TYPE public.enum_timing_reports_office OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendances (
    id character varying(255) NOT NULL,
    employee_id character varying(255) NOT NULL,
    employee_name character varying(255) NOT NULL,
    clock_in_time timestamp with time zone NOT NULL,
    clock_out_time timestamp with time zone,
    clock_in_location character varying(255) NOT NULL,
    clock_out_location character varying(255),
    clock_in_address character varying(255) NOT NULL,
    clock_out_address character varying(255),
    total_hours double precision,
    date date NOT NULL,
    status public.enum_attendances_status DEFAULT 'active'::public.enum_attendances_status,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.attendances OWNER TO postgres;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    phone character varying(255) DEFAULT ''::character varying,
    department character varying(255) DEFAULT 'General'::character varying,
    "position" character varying(255) DEFAULT ''::character varying,
    address character varying(255) DEFAULT ''::character varying,
    emergency_contact character varying(255) DEFAULT ''::character varying,
    profile_image character varying(255) DEFAULT ''::character varying,
    role public.enum_employees_role DEFAULT 'employee'::public.enum_employees_role,
    is_active boolean DEFAULT true,
    reset_token character varying(255) DEFAULT NULL::character varying,
    reset_token_expiry timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    office public.enum_employees_office DEFAULT 'ACS'::public.enum_employees_office
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locations (
    id character varying(255) NOT NULL,
    employee_id character varying(255) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    accuracy double precision,
    heading double precision,
    speed double precision,
    address character varying(255) DEFAULT ''::character varying,
    battery_level integer,
    is_mock_location boolean DEFAULT false,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.locations OWNER TO postgres;

--
-- Name: movements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.movements (
    id character varying(255) NOT NULL,
    employee_id character varying(255) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    reason character varying(255) DEFAULT 'General Movement'::character varying,
    estimated_minutes integer DEFAULT 0,
    status public.enum_movements_status DEFAULT 'active'::public.enum_movements_status,
    address character varying(255) DEFAULT ''::character varying,
    return_time timestamp with time zone,
    actual_duration_minutes integer DEFAULT 0,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    attendance_id character varying(255),
    movement_type public.enum_movements_movement_type DEFAULT 'MANUAL_MOVEMENT'::public.enum_movements_movement_type
);


ALTER TABLE public.movements OWNER TO postgres;

--
-- Name: COLUMN movements.attendance_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.movements.attendance_id IS 'Links movement to specific attendance session for path tracking';


--
-- Name: office_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.office_locations (
    id integer NOT NULL,
    office_name character varying(255) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    radius_meters integer DEFAULT 100,
    address character varying(255) NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.office_locations OWNER TO postgres;

--
-- Name: COLUMN office_locations.radius_meters; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.office_locations.radius_meters IS 'Detection radius for auto-office assignment';


--
-- Name: office_locations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.office_locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.office_locations_id_seq OWNER TO postgres;

--
-- Name: office_locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.office_locations_id_seq OWNED BY public.office_locations.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    employee_id character varying(255) NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sessions_id_seq OWNER TO postgres;

--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: timing_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.timing_reports (
    id character varying(255) NOT NULL,
    employee_id character varying(255) NOT NULL,
    date date NOT NULL,
    first_clock_in timestamp with time zone,
    last_clock_in timestamp with time zone,
    first_clock_out timestamp with time zone,
    last_clock_out timestamp with time zone,
    total_cycles integer DEFAULT 0,
    total_hours double precision DEFAULT '0'::double precision,
    employee_name character varying(255) NOT NULL,
    department character varying(255) NOT NULL,
    office public.enum_timing_reports_office NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.timing_reports OWNER TO postgres;

--
-- Name: COLUMN timing_reports.total_cycles; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.timing_reports.total_cycles IS 'Number of complete clock-in/clock-out cycles';


--
-- Name: COLUMN timing_reports.total_hours; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.timing_reports.total_hours IS 'Total hours worked for the day';


--
-- Name: office_locations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations ALTER COLUMN id SET DEFAULT nextval('public.office_locations_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Data for Name: attendances; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: movements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: office_locations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.office_locations (id, office_name, latitude, longitude, radius_meters, address, is_active, created_at, updated_at) FROM stdin;
1	ACS	12.9716	77.5946	100	ACS Office, Bangalore, India	t	2025-11-25 15:01:25.264+05:30	2025-11-25 15:01:25.264+05:30
2	IOTIQ	17.385	78.4867	100	IOTIQ Office, Hyderabad, India	t	2025-11-25 15:01:25.264+05:30	2025-11-25 15:01:25.264+05:30
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: timing_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.timing_reports (id, employee_id, date, first_clock_in, last_clock_in, first_clock_out, last_clock_out, total_cycles, total_hours, employee_name, department, office, created_at, updated_at) FROM stdin;
\.


--
-- Name: office_locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.office_locations_id_seq', 1, false);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sessions_id_seq', 97, true);


--
-- Name: attendances attendances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT attendances_pkey PRIMARY KEY (id);


--
-- Name: employees employees_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key UNIQUE (email);


--
-- Name: employees employees_email_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key1 UNIQUE (email);


--
-- Name: employees employees_email_key10; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key10 UNIQUE (email);


--
-- Name: employees employees_email_key11; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key11 UNIQUE (email);


--
-- Name: employees employees_email_key12; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key12 UNIQUE (email);


--
-- Name: employees employees_email_key13; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key13 UNIQUE (email);


--
-- Name: employees employees_email_key14; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key14 UNIQUE (email);


--
-- Name: employees employees_email_key15; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key15 UNIQUE (email);


--
-- Name: employees employees_email_key16; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key16 UNIQUE (email);


--
-- Name: employees employees_email_key17; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key17 UNIQUE (email);


--
-- Name: employees employees_email_key18; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key18 UNIQUE (email);


--
-- Name: employees employees_email_key19; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key19 UNIQUE (email);


--
-- Name: employees employees_email_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key2 UNIQUE (email);


--
-- Name: employees employees_email_key20; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key20 UNIQUE (email);


--
-- Name: employees employees_email_key21; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key21 UNIQUE (email);


--
-- Name: employees employees_email_key22; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key22 UNIQUE (email);


--
-- Name: employees employees_email_key23; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key23 UNIQUE (email);


--
-- Name: employees employees_email_key24; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key24 UNIQUE (email);


--
-- Name: employees employees_email_key25; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key25 UNIQUE (email);


--
-- Name: employees employees_email_key26; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key26 UNIQUE (email);


--
-- Name: employees employees_email_key27; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key27 UNIQUE (email);


--
-- Name: employees employees_email_key28; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key28 UNIQUE (email);


--
-- Name: employees employees_email_key29; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key29 UNIQUE (email);


--
-- Name: employees employees_email_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key3 UNIQUE (email);


--
-- Name: employees employees_email_key30; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key30 UNIQUE (email);


--
-- Name: employees employees_email_key31; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key31 UNIQUE (email);


--
-- Name: employees employees_email_key32; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key32 UNIQUE (email);


--
-- Name: employees employees_email_key33; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key33 UNIQUE (email);


--
-- Name: employees employees_email_key34; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key34 UNIQUE (email);


--
-- Name: employees employees_email_key35; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key35 UNIQUE (email);


--
-- Name: employees employees_email_key36; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key36 UNIQUE (email);


--
-- Name: employees employees_email_key37; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key37 UNIQUE (email);


--
-- Name: employees employees_email_key38; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key38 UNIQUE (email);


--
-- Name: employees employees_email_key39; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key39 UNIQUE (email);


--
-- Name: employees employees_email_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key4 UNIQUE (email);


--
-- Name: employees employees_email_key40; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key40 UNIQUE (email);


--
-- Name: employees employees_email_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key5 UNIQUE (email);


--
-- Name: employees employees_email_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key6 UNIQUE (email);


--
-- Name: employees employees_email_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key7 UNIQUE (email);


--
-- Name: employees employees_email_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key8 UNIQUE (email);


--
-- Name: employees employees_email_key9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key9 UNIQUE (email);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: movements movements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.movements
    ADD CONSTRAINT movements_pkey PRIMARY KEY (id);


--
-- Name: office_locations office_locations_office_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key1 UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key10; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key10 UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key11; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key11 UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key2 UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key3 UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key4 UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key5 UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key6 UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key7 UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key8 UNIQUE (office_name);


--
-- Name: office_locations office_locations_office_name_key9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_office_name_key9 UNIQUE (office_name);


--
-- Name: office_locations office_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key UNIQUE (token);


--
-- Name: sessions sessions_token_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key1 UNIQUE (token);


--
-- Name: sessions sessions_token_key10; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key10 UNIQUE (token);


--
-- Name: sessions sessions_token_key11; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key11 UNIQUE (token);


--
-- Name: sessions sessions_token_key12; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key12 UNIQUE (token);


--
-- Name: sessions sessions_token_key13; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key13 UNIQUE (token);


--
-- Name: sessions sessions_token_key14; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key14 UNIQUE (token);


--
-- Name: sessions sessions_token_key15; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key15 UNIQUE (token);


--
-- Name: sessions sessions_token_key16; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key16 UNIQUE (token);


--
-- Name: sessions sessions_token_key17; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key17 UNIQUE (token);


--
-- Name: sessions sessions_token_key18; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key18 UNIQUE (token);


--
-- Name: sessions sessions_token_key19; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key19 UNIQUE (token);


--
-- Name: sessions sessions_token_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key2 UNIQUE (token);


--
-- Name: sessions sessions_token_key20; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key20 UNIQUE (token);


--
-- Name: sessions sessions_token_key21; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key21 UNIQUE (token);


--
-- Name: sessions sessions_token_key22; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key22 UNIQUE (token);


--
-- Name: sessions sessions_token_key23; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key23 UNIQUE (token);


--
-- Name: sessions sessions_token_key24; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key24 UNIQUE (token);


--
-- Name: sessions sessions_token_key25; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key25 UNIQUE (token);


--
-- Name: sessions sessions_token_key26; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key26 UNIQUE (token);


--
-- Name: sessions sessions_token_key27; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key27 UNIQUE (token);


--
-- Name: sessions sessions_token_key28; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key28 UNIQUE (token);


--
-- Name: sessions sessions_token_key29; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key29 UNIQUE (token);


--
-- Name: sessions sessions_token_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key3 UNIQUE (token);


--
-- Name: sessions sessions_token_key30; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key30 UNIQUE (token);


--
-- Name: sessions sessions_token_key31; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key31 UNIQUE (token);


--
-- Name: sessions sessions_token_key32; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key32 UNIQUE (token);


--
-- Name: sessions sessions_token_key33; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key33 UNIQUE (token);


--
-- Name: sessions sessions_token_key34; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key34 UNIQUE (token);


--
-- Name: sessions sessions_token_key35; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key35 UNIQUE (token);


--
-- Name: sessions sessions_token_key36; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key36 UNIQUE (token);


--
-- Name: sessions sessions_token_key37; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key37 UNIQUE (token);


--
-- Name: sessions sessions_token_key38; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key38 UNIQUE (token);


--
-- Name: sessions sessions_token_key39; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key39 UNIQUE (token);


--
-- Name: sessions sessions_token_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key4 UNIQUE (token);


--
-- Name: sessions sessions_token_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key5 UNIQUE (token);


--
-- Name: sessions sessions_token_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key6 UNIQUE (token);


--
-- Name: sessions sessions_token_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key7 UNIQUE (token);


--
-- Name: sessions sessions_token_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key8 UNIQUE (token);


--
-- Name: sessions sessions_token_key9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_token_key9 UNIQUE (token);


--
-- Name: timing_reports timing_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timing_reports
    ADD CONSTRAINT timing_reports_pkey PRIMARY KEY (id);


--
-- Name: timing_reports_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX timing_reports_date ON public.timing_reports USING btree (date);


--
-- Name: timing_reports_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX timing_reports_department ON public.timing_reports USING btree (department);


--
-- Name: timing_reports_employee_id_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX timing_reports_employee_id_date ON public.timing_reports USING btree (employee_id, date);


--
-- Name: timing_reports_office; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX timing_reports_office ON public.timing_reports USING btree (office);


--
-- Name: timing_reports timing_reports_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.timing_reports
    ADD CONSTRAINT timing_reports_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- PostgreSQL database dump complete
--

\unrestrict waOO4IXeAZl9MWm1MxGTz4znn44kWQyRANMYTo3WPAQKfVcDBcwYD0q9RHdbVgb

